* {
	box-sizing: border-box;
}


body {
	background: #ffffff;
	/* margin: 2rem; */
}

.start-content {
	max-width: 100%;
	margin: 0 auto;
	text-align: left;
	text-decoration: none;
	/* padding-left: 5%; */
  
  }
  
  a[href*="index.html"] {
	color: black;
	text-decoration: none;
  }

.subheader {
	padding: 2% 0 2% 0;
  border-radius: 10px;
  color: #fff;
  background-color: #4b7685;
}

.blog-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	padding: 1% 2% 1% 2%;
	width: 70%;
	background-color: rgba(136, 182, 190, 0.288);
	border-radius: 10px;
	margin: 0 auto;
}

.blog-heading {
	/*grid-row-start / grid-column-start / grid-row-end / grid-column-end*/
	grid-area: 1 / 1 / 2 / 2;
	justify-self: center;
	align-self: center;
	/* max-width: 100%; */
	color: rgb(75, 75, 75);

	/* padding-left: 10%; */
}

.blog-date {
	/*grid-row-start / grid-column-start / grid-row-end / grid-column-end*/
	grid-area: 1 / 2 / 1 / 3;
	object-position: center;
	text-align: center;
	color: rgb(82, 82, 82);
	
}

.blog-author {
	grid-area: 1 / 3 / 1 / 4;
	object-position: center;
	text-align: center;
	color: rgb(128, 128, 128);

}

.blog-text {
	/*grid-row-start / grid-column-start / grid-row-end / grid-column-end*/
	grid-area: 2 / 1 / 3 / -1;
}

.blogSpacer {
padding: 1% 0 1% 0;
}

/* Media quieries */
@media (min-width: 640px) {
	.blog-card {
		flex-direction: row;
		max-width: 700px;
	}

	.blog-card .meta {
		flex-basis: 40%;
		height: auto;
	}

	.blog-card .description {
		flex-basis: 60%;
	}

	.blog-card .description:before {
		transform: skewX(-3deg);
		content: "";
		background: #fff;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}

	.blog-card.alt {
		flex-direction: row-reverse;
	}

	.blog-card.alt .description:before {
		left: inherit;
		right: -10px;
		transform: skew(3deg);

	}

	.blog-card.alt .details {
		/* padding-left: 25px; */
		margin: 0 auto;
		text-align: left;
	}

	.card-subtitle p {
		padding: 0%;
		width: 500px;
	}



}
  
