/* Contact form CSS */
h2 {
    padding-top: 3%;
}

.form-heading {
    text-align: center;
  color: rgb(216, 216, 216);
  font-size: 1.5em;
}

section {
    width: 50%;
    margin: 0 auto;
    padding: 3% 0 5% 0;
}

 #contact-form {
     display: flex;
     flex-direction: column;
     margin: 0 auto;
     height: 750px;
    background-color:rgba(39, 39, 39, 0.9);
    padding: 10px 40px 30px 40px;
    max-width:60%;
   
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
 }


 #contact-form input,   
 #contact-form select,   
 #contact-form textarea,   
 #contact-form label { 
    font-size: 1em;  
    margin-bottom: 1.5em;
  
    
    
 } 
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea { 
    width:100%;
    background: #b2ddec;
    
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    /* margin-bottom: 25px;   */
    padding: 25px;  
 }  
 #contact-form input:focus,   
 #contact-form select:focus,   
 #contact-form textarea:focus {  
    background-color: #E5E6E7; 
 }  
 #contact-form textarea {
    width:100%;
    height: 150px;
 }
 #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#0e76a8;
    /* background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%); */
    color:#FFF;
    margin:0 0 5px;
    padding: 20px;
    border-radius:5px;
 }
 #contact-form button[type="submit"]:hover {
    background:#003a69;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
 }
 #contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }
 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
    
 } 
 .required {  
     padding: 15px 0 15px 10px;
    color: #f1f1f1;  
       
      
 }
 
 
 /* Hide success/failure message
    (especially since the php is missing) */
 #failure, #success {
    color: #6EA070; 
    display:none;  
 }
 
 /* Make form look nice on smaller screens */
 @media only screen and (max-width: 580px) {
    #contact-form{
       left: 3%;
       margin-right: 3%;
       width: 88%;
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }
 }